@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vidly</h1>
    <p>The best online movie renter. Convenient, powerful, secure - start exploring Vidly right now.</p>
</div>
