@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>
@Html.ActionLink("New movie", "New", new { }, new { @class = "btn btn-primary form-vertmargin-1" })

@if(Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Movie movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Title, "Edit", new { id = movie.Id })</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no movies yet.</p>
}
