@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts 
{
    <script src="~/js/customersReadOnly.js"></script>
}
