@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>
@Html.ActionLink("New customer", "New", new { }, new { @class = "btn btn-primary form-group" })

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts 
{
    <script src="~/js/customers.js"></script>
}
