@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>

@if(Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Customer customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no customers yet.</p>
}
