@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>
@Html.ActionLink("New customer", "New", new { }, new { @class = "btn btn-primary form-vertmargin-1" })

@if(Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Membership type</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Customer customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", new { id = customer.Id })</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no customers yet.</p>
}
