@{
    ViewData["Title"] = "New rental";
}

<h2>@ViewData["Title"]</h2>

<form>
    <div class="form-group form-floating">
        <input id="customer" type="text" class="form-control" value="" placeholder="Customer"/>
        <label>Customer</label>
    </div>     
    <div class="form-group form-floating">
        <input type="text" class="form-control" value="" placeholder="Movie"/>
        <label>Movie</label>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#customer").autocomplete({
                source: "/api/customers",
                select: function (event, ui) {
                    alert("You have selected " + ui.item.value);
                }
            });
        });
    </script>
}